#drama-2012-sidebar {
    background-image: url("../images/drama-2012/webicon.png");
    background-repeat: no-repeat;
    
    /* CSS 3 only*/
    background-size: 100% auto;
    
    width: 220px;
    height: 220px;

    /* position */
    position: fixed;
    top: 75%;
    right: 30px;
}

#drama-2012-sidebar:hover {
    cursor: pointer;
}
